<nav mat-tab-nav-bar ngClass = "tabs">
  <a mat-tab-link
      [routerLink]="['', { outlets: { admin: ['product'] } }]"
      > Produtos
  </a>
  <a mat-tab-link
      [routerLink]="['', { outlets: { admin: ['brand'] } }]"
      > Marcas
  </a>
  <a mat-tab-link
      [routerLink]="['', { outlets: { admin: ['formula'] } }]"
      > Formulas
  </a>
  <a mat-tab-link
      [routerLink]="['', { outlets: { admin: ['calculation'] } }]"
      > Cálculos
  </a>
  <a mat-tab-link
      [routerLink]="['', { outlets: { admin: ['user'] } }]"
      > Usuários
  </a>
</nav>