.header {
  display: flex;
  align-items: center;
}

.header .title-group {
  padding-left: 15px;
}

.header a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.header .title-group i {
  padding-right: 5px;
  font-size: 1.1rem;
}

.v-middle {
  vertical-align: middle;
}

.app-name {
  padding-left: 2.5%;
  font-size: 0.95rem;
}